<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home--page">
  <ion-card>
    <ion-card-header>
        <h1>EASY TO BE SMART
            <h3> {{ 'HOME.TITLE' | translate }}</h3>
        </h1>
    </ion-card-header>
    <ion-card-content>
      <video controls="controls" preload="metadata">
        <source src="../../assets/video/IMG_0125.m4v" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        Тег video не поддерживается вашим браузером.
        <a href="../../assets/video/IMG_0125.m4v">Скачайте видео</a>.
      </video>
    </ion-card-content>
  </ion-card>
</ion-content>
